body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    color: black;
}

.app {
    text-align: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.error {
    color: var(--main-text-color);
    font-weight: bold;
    margin-top: 10px;
}

.forecast-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}