header h1 {
    font-size: 2rem;
    color: var(--main-text-color);
    margin-bottom: 20px;
}

.search-box {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

input {
    padding: 12px;
    font-size: 16px;
    border: 1.5px solid var(--btn-color);
    border-radius: 8px;
    outline: none;
    background-color: white;
    width: 300px;
    transition: border-color 0.3s ease;
}

input:focus {
    border: 2px solid var(--btn-color);
}

button {
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: var(--btn-color);
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3 ease;
}

button:hover {
    background-color: var(--btn-color);
    transform: scale(1.05);
}